@import '../antd.customize.less';

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: @background-color-base;

  .content {
    margin: auto;
    background-color: white;
    border: 1px solid @border-color-base;
    width: 70%;
    height: 60%;
  }
}